{
  "token": "x",
  "clientId": "x",
  "commandGuildIds": [
    "x"
  ],
  "intervalMS": 90000,
  "allowedDevs": [
    "134088598684303360",
    "204729465564037120"
  ],
  "embeds": [
    {
      "channelID": "x",
      "messageID": "x"
    }
  ],
  "logging": {
    "enabled": true,
    "guildID": "x",
    "channelID": "x"
  },
  "presence": {
    "type": "watching",
    "name": "Follow maps with /follow"
  }
}
